services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Toronto
      - HOMEPAGE_ALLOWED_HOSTS=homepage.local
    volumes:
      - ./config/homepage:/config
    expose:
      - 3000
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.homepage.rule=Host(`homepage.local`)"
      - "traefik.http.routers.homepage.entrypoints=web"
      - "traefik.http.services.homepage.loadbalancer.server.port=3000"
    networks:
      - homelab
    restart: unless-stopped

networks:
  homelab:
    external: true
