services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Toronto
      - HOMEPAGE_ALLOWED_HOSTS=localhost:3001
    env_file:
      - .env
    volumes:
      - ./config/homepage:/config
    ports:
      - 3001:3000
    restart: unless-stopped
