services:
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Toronto
      - VERSION=docker
    volumes:
      - ./config/plex:/config
      - ${NFS_VOLUME_PATH}:/media
    ports:
      - 32400:32400
    restart: unless-stopped

  tautulli:
    image: lscr.io/linuxserver/tautulli:latest
    container_name: tautulli
    depends_on:
      - plex
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Toronto
    volumes:
      - ./config/tautulli:/config
    ports:
      - 8181:8181
    restart: unless-stopped
